extends baseEmail

block content
  p Hi #{firstName},
  p We received a request to reset your PixPals account password. Don't worry, we've got you covered!
  p Please click the button below to securely reset your password. This link will expire in 10 minutes for your security.
  table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
    tbody
      tr
        td(align='left')
          table(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
              tr
                td
                  a(href=`${url}`, target='_blank') Reset Password
  p If you didn't request this password reset, you can safely ignore this email. Your account security is important to us.
  p For additional security tips or help, visit our Help Center.
  p Best regards,
  p.signature The PixPals Team